body{
	font-family: "華康兒風體W4", Roboto, sans-serif;
	font-size: 20px;
	line-height: 22px;
	background-color: #e6fff2;
	background-image: url(https://i.ytimg.com/vi/I1U6-Qogf14/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: auto 100%;
	line-height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
a{
	color: #FFFFFF;
}	#full_container{
	display: block;
	margin: auto;
	width: 85%;
	min-width: 1105px;
	//min-width: 600px;
	max-width: 1200px;
}
#banner{
	background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/a58e0311436999ff-profile_banner-480.png);
	background-position: center;
	background-size:1250px;
	width:100%;
	height:350px;
	border: 2px solid black;
	color: white;
}
#subline{
	float: right;
}
nav{
	position: -webkit-sticky;
	position: sticky;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-table;
	font-size: 25px;
	top: 0px;
	width:100%;
	border: 2px solid black;
	background-color: green;
	color: white;
	text-align: center;
}
#main{
	display: table;
	margin: auto;
	margin-top: 20px;
	width:100%;
	height: auto;
}
section{
	margin-top: 0px;
	margin-bottom: 30px;
	border-right: 2px solid #999900;
	border-bottom: 3px solid #999900;
	background-color: #FFFFFF;
}
#article{
	float: left;
	width: 740px;
}
#main{
	width: 95%;
}
.post_title{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 120px;
	font-size: 27px;
	height: 57px;
	background-image: url(http://l.yimg.com/f/i/tw/wretch/sblog43/articletext_title.gif);
	background-repeat: no-repeat;
}
.post_date{
	text-align: right;
	margin-top: -20px;
	margin-bottom: 0px;
	margin-right: 7px;
}
.post_content{
	text-indent: 40px;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 40px;
}
#side_panel{
	float: right;
	width: 27%;
	height:600px;
	text-align: center;
	//border: 2px dotted blue;
}
.side_panel_title{
	border:2px solid green;
	background-color: white;
	padding-top: 7px;
	margin-top: 4px;
	margin-bottom: 25px;
	height: 30px;
	text-align: center;
}
.side_panel_content{
	margin-bottom: 35px;
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: white;
}
#quicklink_article{
	font-size: 20px;
}
#Prof_pic{
	border-radius: 50%;
	border: 2px solid green;
}
#Prof_pic:hover{
	transform: rotate(12deg); 
}
#About_details{
	margin: auto;
	width: 60%;
}
footer{
	background-color: green;
	display: table;
	width: 100%;
	text-align:center;
	height: 50px;
	padding-bottom: 0px;
	margin-bottom: -10px;
	border-top: 2px solid black;
	color: #FFFFFF;
}
.footer_block{
	display: inline-block;
	//float: right;
	text-align: center;
	margin: 20px;
	padding: 5px;
	width: 120px;
	height: 27px;
	border: 1px dotted black;
	overflow: hidden;
}
.footer_block:hover{
	background-color: #66FF66;
	font-size: 19px;
}